all companies
<ul class="companies">
  <li *ngFor="let company of paginationResponse.list">
    <a (click)="toCompanyDialog(company)" >
      <span class="badge">{{company.id}}</span> {{company.name}}
    </a>
  </li>
</ul>

<form>  
  <button mat-fab (click)="create()">Create</button>
</form>

<mat-paginator [length]="paginationResponse.length"
              [pageSize]="paginationResponse.pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = onPaginateChange($event)">
</mat-paginator>

