<h1>{{ 'login.title' | translate }}</h1>

<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">{{ 'email' | translate }}</label>
        <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required value="killesk"/>
        <div *ngIf="f.submitted && !username.valid">{{ 'email' | translate }}{{ 'isRequired' | translate }}</div>
    </div>
    <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">{{ 'password' | translate }}</label>
        <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required value="m123"/>
        <div *ngIf="f.submitted && !password.valid">{{ 'password' | translate }}{{ 'isRequired' | translate }}</div>
    </div>
    <div>
        <button [disabled]="loading">Login</button>
    </div>
</form>
